@model IEnumerable<MvcAuction.Models.Auction>

@{
    //REMOVED FROM MOBILE VIEW
    //Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
    ViewBag.Title = "Auctions: Mobile View";
    DisplayModeProvider.Instance.RequireConsistentDisplayMode = true;
}

@*@section Sidebar {
        <h3>This is my sidebar</h3>
    }

    //REMOVED FROM MOBILE VIEW
    @section Featured {
        <section class="featured">
            <div class="content-wrapper">
                This is some featured content!
            </div>
        </section>
    }*@

@section Scripts {
    <!-- This content will be rendered in the Scripts section -->
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    @Html.Partial("_AuctionTile", item)
}
